.article {
  color: #fff;
  padding-top: 4rem;
}

.article__title {
  font-size: 3rem;
  line-height: 4.5rem;
  margin: 3rem 0 5rem;
  text-align: center;

  span {
    background-color: color(bright-green);
    color: color(bg-green);
    padding: 0.3rem 2rem;
  }

  @include breakpoint("small-desktop-up") {
    font-size: 5rem;

    span {
      padding: 0.5rem 2rem;
    }
  }
}

.article__content {
  width: 100%;
  max-width: 840px;
  padding: 4rem 1rem 5rem;
  margin: 0 auto;

  @include breakpoint("large-tablet-up") {
    display: flex;
    justify-content: center;
  }
}

.article__content__container {
  &.-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 2rem;

    @include breakpoint("large-tablet-up") {
      padding-top: 0;
      padding-left: 4rem;
    }
  }
}

.article__content__heading {
  font-size: 1.375rem;
  margin-bottom: 0.4rem;
}

.article__content__tech {
  margin: 0.6rem 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  max-width: 690px;

  strong {
    color: color(bright-green);
  }
}

.article__content__summary {
  line-height: 1.2;
}

.article__content__list {
  line-height: 1.5;
  list-style: circle;
  padding-left: 1em;
  width: 100%;

  @include RobotoMonoLight;
}

.project-icon {
  border-radius: 100%;
  border: 7px solid color(text-bg-green);
  height: 100px;
  margin-bottom: rem(8);
  width: 100px;
}
