@keyframes blink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.button {
  @include smooth;
  @include RobotoMono;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button--green {
  background-color: color(text-bg-green);
  color: #fff;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  overflow: hidden;
  padding: 0.4rem 0.6rem;
  position: relative;
  transition: color speed(fast-speed) ease-in;

  &::before {
    background: #ffae5d;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform speed(fast-speed) ease-in;
    width: 100%;
  }

  span {
    position: relative;
    z-index: 10;
  }

  &:hover,
  &:active {
    color: color(text-bg-green);

    &::before {
      transform: translateX(0);
    }
  }
}

.button--top {
  background: color(orange);
  bottom: rem(25);
  color: #fff;
  font-weight: 700;
  padding: 0.55rem 0.95rem 0.65rem;
  position: fixed;
  right: 1rem;
  transition: opacity speed(fast-speed), transform speed(fast-speed);
  z-index: 100;

  &.-hide {
    opacity: 0;
    transform: translateY(200%);
  }

  &.-show {
    opacity: 1;
    transform: translateY(0);
  }

  .blinker {
    animation: blink 1.1s infinite;
    border-bottom: 2px solid #fff;
    display: inline-block;
    height: 1rem;
    margin-left: 0.2rem;
    width: 0.65rem;
  }
}

.button--contact {
  background-blend-mode: soft-light;
  background: url("../images/banner-bg.jpg") color(text-bg-green);
  background-size: 140%;
  color: color(bright-green);
  display: inline-block;
  font-size: 0.9rem;
  margin: rem(30) 0 rem(15);
  padding: 1rem 1.4rem;
  position: relative;
  transition:
    background speed(med-speed),
    box-shadow speed(med-speed),
    color speed(med-speed),
    transform speed(med-speed);
  z-index: 1;

  &:hover {
    background: color(bright-green);
    box-shadow: 0 24px 88px -8px rgba(30,30,30,.352);
    color: color(bg-green);
    transform: scale(1.1);
  }
}

.button--social {
  border: 2px solid color(text-bg-green);
  color: color(text-bg-green);
  display: inline-block;
  margin: 0rem 0.5rem 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: background speed(fast-speed), color speed(fast-speed);

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background: color(text-bg-green);
    color: color(bright-green);
  }
}
