.wrapper {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 rem(20);
  width: 100%;
}

.inner-wrapper {
  padding: 1rem;
}

.divider {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}
