.about {
  padding-bottom: 5rem;
}

.about__wrapper {
  background-attachment: fixed;
  background-image: url("../images/banner-bg.jpg");
  background-size: 10%;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;

  &:before {
    background-color: color(bg-green);
    content: "";
    height: 100%;
  }
}

.about__wrapper__bio {
  @include RobotoMonoLight;

  background-color: white;
  display: block;
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 1rem;
  width: 100%;

  hr {
    background-color: color(bg-green);
    margin: rem(25) rem(100);
  }

  @include breakpoint("large-tablet-up") {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
  }
}

.about__wrapper__para {
  flex-basis: 100%;
  font-size: 0.8rem;

  @include breakpoint("large-tablet-up") {
    flex-basis: percentage(5/7);
    font-size: 0.9rem;
  }

  @include breakpoint("small-desktop-up") {
    font-size: 1.2rem;
  }
}

.about__experience {
  @include Muli;

  text-align: center;

  @include breakpoint("large-tablet-up") {
    text-align: left;
    padding-left: rem(45);
  }
}

.about__experience__institute {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0.25rem;
  margin: 0;
}

.about__experience__role {
  font-size: 0.9rem;
  line-height: 1.9;
}

.about__experience__date {
  color: #8a8989;
  font-size: 0.9rem;
}

.about__toolkit {
  font-size: 0.9rem;
}

.about__toolkit__title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 1rem 0 0.25rem 0;
}

.about__aside {
  @include Muli;

  display: inline-flex;
  font-size: 1rem;
  justify-content: space-around;
  padding: rem(25) 0;
  width: 100%;
}

.about__aside__contact {
  margin: rem(8) rem(10);

  img {
    height: 40px;
    width: 40px;
  }
}
