.about__content {
  @include RobotoMonoLight;

  line-height: 1.5;
  margin-bottom: 5rem;
  padding: 2.5rem;
  position: relative;

  &::before {
    border-image-repeat: round;
    border-image-slice: 5%;
    border-image-source: url("../images/banner-bg.jpg");
    border-style: solid;
    border-width: 10px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @include breakpoint("small-desktop-up") {
    margin-right: 3rem;
    margin-top: 3rem;
    padding: 4rem;
  }

  @include breakpoint("med-desktop-up") {
    margin-right: 4rem;
  }
}

.about__bio {
  p {
    margin: 1rem 0;
  }

  @include breakpoint("small-desktop-up") {
    font-size: 1.1rem;
    width: 60%;
  }
}

.about__experience {
  font-size: 0.9rem;
  padding-top: 1rem;

  @include breakpoint("small-desktop-down") {
    text-align: center;
  }

  @include breakpoint("small-desktop-up") {
    background: color(gray);
    padding: 6rem 5rem 2rem 4rem;
    position: absolute;
    right: -3rem;
    top: -3rem;
    width: 38%;
  }
}

.about__subheading {
  @include Muli;
  font-size: 1.2rem;
}

.about__contact {
  margin: 3rem 0 3.5rem;
  position: relative;
  text-align: center;
  z-index: 1;
}
