.nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  @include breakpoint("small-desktop-up") {
    max-width: 600px;
    width: 50%;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  @include RobotoMono;
  font-size: 0.7rem;
  letter-spacing: 0.2em;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: border-color 0.3s cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;

  @include breakpoint("large-tablet-up") {
    font-size: 0.9rem;
  }

  a {
    color: #fff;
    display: block;
    padding: 2em 1em 1em 1em;
    transition: color 0.3s;
  }

  &::before {
    background: #ffae5d;
    content: "";
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 10% 100%;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -5em, 0);
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    width: 150%;
    z-index: -1;
  }

  &:hover {
    a {
      color: color(bg-green);
    }

    &::before {
      background: color(bright-green);
      opacity: 1;
      transform: rotate3d(0, 0, 1, 0deg);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}
