.projects__wrapper {
  margin-bottom: 2rem;
}

.projects__list {
  font-size: 15px;
  width: 100%;
}

.project__item {
  background: color(gray);
  display: inline-block;
  margin: 1em;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
  transition: transform speed(med-speed), box-shadow speed(med-speed);
  width: calc(100% - 2em);
  will-change: transform;

  &::before {
    background: color(orange);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 0% 100%;
    transform: rotate(-45deg) translateY(-30em);
    transition: transform 0.45s, background-color 0.45s;
    width: 150%;
    z-index: -1;
  }

  @include breakpoint("large-tablet-up") {
    width: calc(50% - 2em);
  }

  @include breakpoint("med-desktop-up") {
    margin: 0.7em 0.5em;
    width: calc(33% - 0.8em);
  }

  &:hover,
  &:active {
    box-shadow: 0 24px 88px -8px rgba(30,30,30,.352);
    transform: scale(1.06);

    &::before {
      background: linear-gradient(120deg, #aae3ab, #a3d95b);
      transform: rotate(0);
    }

    .project__thumbnail {
      opacity: 1;
    }

    .projects__content {
      color: color(bright-green);
    }

    .projects__content__title,
    .projects__content__subtitle {
      background-color: black;
    }
  }
}

.project__link {
  display: block;
  background: #fff;
  position: relative;
}

.project__thumbnail {
  display: block;
  opacity: 0.5;
  transition: opacity speed(med-speed);
  width: 100%;
}

.projects__content {
  bottom: 0.7em;
  color: color(orange);
  padding: 1em;
  position: absolute;
  transition: color speed(med-speed);
  width: 100%;
  z-index: 1;
}

.projects__content__title,
.projects__content__subtitle {
  background-color: white;
  display: inline-block;
  transition: background-color speed(med-speed);
}

.projects__content__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding: 0.3em;
}

.projects__content__subtitle {
  @include RobotoMonoLight;
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 0.4em 0.5em;
}
