body {
  @include Muli;
  @include smooth;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.section-header {
  color: color(light-gray);
  font-size: 4em;
  overflow: hidden;
  padding: 4rem 0 1rem;

  @include breakpoint('large-tablet-up') {
    font-size: 6em;
    padding: 6rem 0 2rem;
  }
}

.color-light-gray {
  color: #8a8989;
}
