// Imports
@import url('https://fonts.googleapis.com/css?family=Muli:400,800|Roboto+Mono:300,700');

// Mixins
@mixin Muli {
  font-family: "Muli", Arial, Verdana, sans-serif;
}

@mixin RobotoMono {
  font-family: "Roboto Mono", Arial, Verdana, sans-serif;
  font-weight: 700;
}

@mixin RobotoMonoLight {
  font-family: "Roboto Mono", Arial, Verdana, sans-serif;
  font-weight: 300;
}

strong {
  color: color(orange);
  @include RobotoMono;
}
